.process.block
  .c
    .head ПРОЦЕСС
    .process__text Опыт установки свыше 15 лет, профессиональное оборудование и отсутствие финансовых расчетов с установщиком — гарантия честного долговечного монтажа.
    .process__cols
      .process__aside
        .video16-9
      .process__main
        .process__title ЧЕСТНАЯ#[br] УСТАНОВКА
        .process__points
          .process__point Установщик монтирует дверь
          .process__point Вы оцениваете качество работы
          .process__point Через 2 дня оплачиваете по накладной в магазине
