.testimonialPopup
  .testimonialPopup__image: img(src=require("src/modules/testimonials/img/01.jpg"))
  .testimonialPopup__title Дверь «Revolution white»
  .testimonialPopup__text
    p “Действительно хороший выбор дверей. Как только мы определились с желаемым стилем, весь процесс был очень легким. Дверь была установлена раньше, чем планировалось. Отличное обслуживание и установка. Если вы ищете новую входную дверь, я бы рекомендовала купить  их в Terradoor.”
    p “Действительно хороший выбор дверей. Как только мы определились с желаемым стилем, весь процесс был очень легким. Дверь была установлена раньше, чем планировалось. Отличное обслуживание и установка. Если вы ищете новую входную дверь, я бы рекомендовала купить  их в Terradoor.”
  .testimonialPopup__name Татьяна
  .testimonialPopup__note Дата покупки: 14/02/2021
