.testimonialPopup {
  $this: &;

  padding: 0 25px;

  &__image {
    float: right;
    max-width: 220px;
    padding-left: 15px;
    padding-bottom: 15px;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__title {
    @include h4();
    margin-bottom: 30px;
  }

  &__text {
    @include text2();
  }

  &__name {
    @include text3();
    margin-top: 20px;
  }

  &__note {
    @include text4();
    color: $dark-gray;
    margin-top: 10px;
  }
}
