.catalog.block
  .c
    .head КАТЕГОРИИ
    .catalog__title ПОДБОРКИ ДВЕРЕЙ#[br] НА ЛЮБОЙ ВКУС
    .catalog__tabs
      .catalog__headers
        button.catalog__header.catalog__header--active ВХОДНЫЕ ДВЕРИ В ДОМ
        button.catalog__header ВХОДНЫЕ ДВЕРИ В КВАРТИРУ
        button.catalog__header МЕЖКОМНАТНЫЕ ДВЕРИ

      .catalog__bodies
        each i in [1,2,3]
          .catalog__body(class=(i === 1 ? 'catalog__body--active' : ''))
            .catalog__items
              each j in [1,2,3,4,5,6,7,8]
                .catalog__item
                  .catalog__card(data-micromodal-trigger="catalog-popup" data-micromodal-before-open="onBeforeOpenCatalogPopup" data-image=require('src/modules/catalog/img/door.jpg'))
                    .catalog__tags
                      .catalog__tag.catalog__tag--recommend Рекомендуем
                      .catalog__tag.catalog__tag--hit Хит
                      .catalog__tag.catalog__tag--new Новинка
                    .catalog__img
                      img(src=require('src/modules/catalog/img/door.jpg'))
                    .catalog__name= j === 4 ? 'ГРАФИЧЕСКИЙ ОРНАМЕНТ ИЗ НЕРЖАВЕЙКИ 7 КВАДРАТОВ/ФЛ-294' : 'СТАЛЬНАЯ ДВЕРЬ «ЭТАЛОН»'
                    .catalog__price 50 900 ₽

    .catalog__button
      button.link ПЕРЕЙТИ В КАТАЛОГ

#catalog-popup.popup.popup--catalog.micromodal-slide(aria-hidden="true")
  .popup__overlay(tabindex="-1" data-micromodal-close)
    .popup__container(role="dialog" aria-modal="true")
      button.popup__close(data-micromodal-close): +the_svg(require('src/img/close.sprite.svg'))
      .popup__image
        img(src=require('src/modules/catalog/img/door.jpg'))
      .popup__form
        .form
          .form__title Рассчитайте стоимость этой двери по моим параметрам
          .form__content
            .form__input
              .input: input(placeholder="Ваше имя")
            .form__input
              .input: input(placeholder="Телефон" type='tel')
            .form__confirm
              label.checkbox
                input(type='checkbox')
                span Я согласен с обработкой #[a(href='#') персональных данных]
            .form__button
              button.btn.btn--black ОТПРАВИТЬ
