.quality.block
  .c
    .head КАЧЕСТВО
    .quality__title ПОЧЕМУ ЛУЧШЕ#[br] ПОКУПАТЬ В TERRADOR?
    .quality__content
      .quality__block1
        .quality__text1 Мы еще не придумали красивый ответ на этот вопрос. Потому что все это время занимаемся своим любимым делом - создаем наши двери, которые становятся вашими.
        .quality__row
          .quality__col Идеальные двери — это те, с которыми вы забываете про конденсат, шум, посторонние запахи и последующую замену дверей.
          .quality__col После нас не переделывают! Для меня очень важно, что в основе нашего бизнеса лежит личное отношение к делу.
        .quality__text1 Меня зовут Антон Теречев,
      .quality__aside
        img(src=require('src/modules/quality/img/placeholder.jpg'))
        .quality__text1 Я рад, что мы можем доносить важность технических характеристик дверей до покупателей. Весь мой опыт я вложил в двери бренда Террадор и горжусь ими.
      .quality__block2
        .quality__text2
          p 20 лет я занимаюсь металлическими дверьми и действительно живу своим делом. О производстве, качестве и специфике своего товара я могу рассказать многое. Для меня принципиально — если вы выбрали дверь в моем магазине, вы больше не должны задумываться о ее замене. Это качество вне времени!
          p При моем фанатичном отношении к производству дверей сложно понять тех покупателей, кто не обращает внимание на количество контуров уплотнения, ширину терморазрыва, конструктив двери, другие качественные характеристики. Это очень важные элементы — они обеспечат долговечность вашей двери, ее удобное использование, теплоизоляцию. Не забывайте интересоваться такими деталями при покупке.
        .quality__text1 Почему, спросите вы?
