$item_padding: 54px;

.top {
  $this: &;

  margin-bottom: 40px;

  &__container {
    position: relative;
    display: flex;
    align-items: stretch;
    padding-bottom: 60px;
    border-bottom: 1px solid $light-gray;
    @include mobile() {
      flex-direction: column;
      padding-bottom: 0;
      border: 0;
    }
  }

  &__item {
    flex: 1;
    position: relative;
    @include mobile() {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    &--left {
      padding-right: $item_padding;
      @include mobile() {
        padding-right: 0;
      }

      #{$this}__card {
      }

      #{$this}__button {
        flex-direction: column;
        align-items: center;

        svg {
          transform: rotate(-90deg);
        }

      }

      #{$this}__button--open {
        right: -10px;
        top: 0;
        transform-origin: 100% 0;
        transform: rotate(-90deg) translateY(-100%);

        &:hover {
          right: -20px;
        }
      }

      #{$this}__button--close {
        top: 0;
        right: calc(-100% - #{$item_padding} - 10px);
        transform-origin: 0 0;
        transform: rotate(-90deg) translate(-100%, -150%);
        flex-direction: column-reverse;

        svg {
          transform: rotate(90deg);
        }
      }

      #{$this}__more {
        margin-left: -$item_padding;

        left: 100%;
        padding-left: $item_padding * 2;
        padding-right: 120px;
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
      }

      &#{$this}__item--active {
        #{$this}__button--open {
          transform: rotate(-90deg) translateY(-50%);
        }

        #{$this}__button--close {
          transform: rotate(-90deg) translate(-100%, -100%);
        }
      }

    }

    &--right {
      padding-left: $item_padding;
      @include mobile() {
        padding-left: 0;
      }

      #{$this}__card {
      }

      #{$this}__button {
        flex-direction: column-reverse;
        align-items: center;

        svg {
          transform: rotate(90deg);
        }
      }

      #{$this}__button--open {
        left: -10px;
        bottom: 0;
        transform: rotate(-90deg) translateY(100%);
        transform-origin: 0 100%;

        &:hover {
          left: -20px;
        }
      }

      #{$this}__button--close {
        bottom: 0;
        left: calc(-100% - #{$item_padding});
        transform: rotate(-90deg) translate(100%, 150%);
        transform-origin: 100% 100%;
        flex-direction: column;

        svg {
          transform: rotate(-90deg);
        }
      }

      #{$this}__more {
        margin-right: -$item_padding;
        right: 100%;
        padding-right: $item_padding * 2;
        padding-left: 120px;
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
      }

      &#{$this}__item--active {
        #{$this}__button--open {
          transform: rotate(-90deg) translateY(50%);
        }

        #{$this}__button--close {
          transform: rotate(-90deg) translate(100%, 100%);
        }
      }
    }

    &--active {
      #{$this}__more {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }

      #{$this}__button {
        &--open {
          transition: all .3s ease-out;
          opacity: 0;
          visibility: hidden;
          pointer-events: none;
        }

        &--close {
          transition: all .3s ease-out .8s;
          opacity: 1;
          visibility: visible;
          pointer-events: all;
        }
      }
    }
  }

  &__card {
    position: relative;
    height: 590px;
    color: $white;
    background-size: cover;
    background-position: 50% 50%;
    @include mobile() {
      height: 320px;
      padding: 10px;
    }
  }

  &__info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(#000, .5);
    padding: 30px;
    @include mobile() {
      padding: 10px;
    }
  }

  &__suptitle {
    @include text3();
    margin-bottom: 7px;
    @include mobile() {
      margin-bottom: 3px;
    }
  }

  &__title {
    @include h3();
    margin-bottom: 25px;
    @include mobile() {
      font-size: 24px;
      margin-bottom: 10px;
    }
  }

  &__price {
    @include h3();
    margin-bottom: 22px;
    @include mobile() {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }

  &__button {
    position: absolute;
    display: flex;
    font-size: 14px;
    transition: all .3s ease-in, transform .3s ease-in .8s, opacity .3s ease-in .8s;
    padding: 10px 0;
    @include mobile() {
      display: none;
    }

    svg {
      width: 9px;
      height: 18px;
    }

    &--close {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: all .3s ease-in;
      z-index: 2;
    }
  }

  &__more {
    position: absolute;
    top: 0;
    height: 100%;
    background: $body;
    transition: all .5s ease-in .15s;
    z-index: 1;
    width: calc(100% + #{$item_padding + 1px});

    &:before {
      content: '';
      position: absolute;
      background: $bg;
      left: 0;
      top: 125px;
      width: 100%;
      height: 220px;
      z-index: -1;
    }

    @include mobile() {
      display: none;
    }
  }

  &__moreHead {
    @include h3();
    margin-bottom: 40px;
  }

  &__moreItems {
    display: flex;
  }

  &__moreItem {
    flex: 1;
  }

  &__moreImg {
    margin-bottom: 40px;
    display: block;
    box-shadow: 0px 4px 30px 0 rgba(0, 0, 0, 0.15);
  }

  &__moreSuptitle {
    @include text3();
    margin-bottom: 7px;
  }

  &__moreTitle {
    @include h4();
    margin-bottom: 20px;
  }

  &__morePrice {
    @include text3();
    margin-bottom: 35px;
  }

  &__moreText {
    @include text1();
  }
}
