.order.block
  .c
    .head ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ
    .order__title ЗАПИШИТЕСЬ НА БЕСПЛАТНЫЙ ЗАМЕР В УДОБНОЕ ВАМ ВРЕМЯ
    .order__cols
      .order__main
        .order__text Внимание! Профессиональный замер — гарантия точных размеров двери и скорости монтажа!
        .order__form
          .order__input
            .input: input(placeholder="Ваше имя")
          .order__input
            .input: input(placeholder="Телефон" type='tel')
          .order__confirm
            label.checkbox
              input(type='checkbox')
              span Я согласен с обработкой #[a(href='#') персональных данных]
          .order__button
            button.btn.btn--black ОТПРАВИТЬ
      .order__aside
        .video16-9
