.discount.block
  .c
    .discount__items
      .discount__item
        .discount__card
          .discount__text Нужно более трех дверей?
          .discount__sub Дадим скидку
      .discount__item
        .discount__card
          .discount__text Нашли дешевле?
          .discount__sub Вернем 110 % разницы
      .discount__item
        .discount__card
          .discount__text Пенсионерам и#[br] многодетным семьям –
          .discount__sub Скидка
      .discount__item
        .discount__card
          .discount__text Купили новостройку?
          .discount__sub Дадим скидку

    .discount__button
      button.link ЗАБРАТЬ СКИДКУ
