extends ../pug/_layout

block body
  include ../modules/header/header
  include ../modules/top/top
  include ../modules/discount/discount
  include ../modules/catalog/catalog
  include ../modules/quiz/quiz
  include ../modules/quality/quality
  include ../modules/advantages/advantages
  include ../modules/prices/prices
  include ../modules/testimonials/testimonials
  include ../modules/order/order
  include ../modules/process/process
  include ../modules/faq/faq
  include ../modules/footer/footer
