- var items = ['НА КАКОЙ СТАДИИ РЕМОНТА МОЖНО ЗАКАЗЫВАТЬ ДВЕРЬ?', 'ЗА ЧТО Я ПЛАЧУ, КОГДА ЗАКАЗЫВАЮ У ВАС ДВЕРЬ?', 'КАКИЕ У ВАС РАСЦЕНКИ НА ДОСТАВКУ И ПОДЪЕМ?', 'ЗА УСТАНОВКУ ДВЕРИ НУЖНО ПЛАТИТЬ ОТДЕЛЬНО?', 'ВЫ ДАЕТЕ ГАРАНТИЮ НА ДВЕРЬ?']

.faq.block
  .c
    .head ВОПРОСЫ
    .faq__title ДАДИМ ОТВЕТ НА ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ
    .faq__items
      each item, i in items
        .faq__item(class=(i === 1 ? 'faq__item--active' : ''))
          .faq__head
            =item
            .faq__arrow
          .faq__body
            .faq__inner
              p Стальную (входную) дверь можно заказывать на любой стадии ремонта. Как правило, входную дверь заказывают и устанавливают в самом начале, но не снимают с нее упаковочную пленку до окончания ремонтных работ.
              p К заказу межкомнатной двери лучше подойти в 2 этапа:
              p Первый замер сделать, когда есть дверные проемы, но стены не штукатурены и не настелен пол. Это даст возможность предварительно оценить параметры будущей двери и при необходимости внести корректировки.
              p Второй контрольный замер производится, когда настелен пол, до оклейки обоев или нанесения иного чистового покрытия стен.
              if(i === 0)
                p Первый замер сделать, когда есть дверные проемы, но стены не штукатурены и не настелен пол. Это даст возможность предварительно оценить параметры будущей двери и при необходимости внести корректировки.
                p Второй контрольный замер производится, когда настелен пол, до оклейки обоев или нанесения иного чистового покрытия стен.
