.quiz.block
  .c
    .head КВИЗ-ПОДБОР
    .quiz__title Давайте подберем вашу идеальную дверь вместе?
    .quiz__subtitle Ответьте всего на 3 вопроса и получите подарок на ХХ тыс рублей
    .quiz__placeholder
